<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Exibir Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	 <ion-card *ngFor="let post of posts">

	     
      <ion-card-header>


        <ion-card-title>{{post.name}} {{post.username}} {{post.email}} {{post.phone}} {{post.website}}
        </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        
      

        <ion-button ion-button expand="block" color="dark" (click)="presentModal(post)" large>Detalhes</ion-button>

        <ion-button ion-button  expand="block"  large  color="success" (click)="edit(post)"  >Atualizar</ion-button>


        <ion-button ion-button expand="block" color="danger" (click)="delete(post)" large>Delete</ion-button>



      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll treshold="100px" (ionInfinite) = "loadMoreData($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


 
      
     
</ion-content>
