<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cadastrar Clientes 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


   <ion-card class="welcome-card">
      <img src="/assets/6.png" alt=""/>
      <ion-card-header>
        <ion-card-subtitle>Cadastro de Clientes Imóvel</ion-card-subtitle>

      </ion-card-header>
     
      
    </ion-card>

   
   <form (ngSubmit)="formSubmit()">

       <ion-item>
			<ion-label>E-mail:</ion-label>
			<ion-input type="email"  [(ngModel)]="dadosPessoa.email" name="email" required></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>Nome:</ion-label>
			<ion-input type="text" [(ngModel)]="dadosPessoa.first_name" name="first_name" required></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>Sobrenome:</ion-label>
			<ion-input type="text" [(ngModel)]="dadosPessoa.last_namee" name="last_name" required></ion-input>
		</ion-item>

		<ion-button color="primary" type="submit" expand="block"> Cadastrar </ion-button>


   	</form>

    <ion-footer>
    <ion-toolbar>
      <ion-title>Imóvel TC</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>
