<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Criar Postagem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


   <ion-card class="welcome-card">
      <img src="/assets/6.png" alt=""/>
      <ion-card-header>
        <ion-card-subtitle>Cadastro de Postagem para Blog</ion-card-subtitle>

      </ion-card-header>
     
      
    </ion-card>

   
   <form (ngSubmit)="formSubmit()">

    <ion-item>
			<ion-label>Titulo:</ion-label>
			   <ion-input type="text"  [(ngModel)]="formData.title" name="title" required></ion-input>
		</ion-item>

    <ion-item>
      <ion-label>Texto:</ion-label>
        
          <ion-textarea type="text"  [(ngModel)]="formData.body" name="body" required></ion-textarea>
    </ion-item>

<!--
     <ion-item>
      <ion-label>Email</ion-label>
         <ion-input type="text"  [(ngModel)]="dadosPessoa.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fone</ion-label>
         <ion-input type="text"  [(ngModel)]="dadosPessoa.phone" name="phone" required></ion-input>
    </ion-item>

     <ion-item>
      <ion-label>Fone</ion-label>
         <ion-input type="text"  [(ngModel)]="dadosPessoa.website" name="website" required></ion-input>
    </ion-item>


	
-->
		

		<ion-button color="primary" type="submit" expand="block"> Cadastrar </ion-button>


   	</form>

    

</ion-content>
