<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Imobiliaria TC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/1.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Imobiliária Três Corações</ion-card-subtitle>
        <ion-card-title>Sua Casa do seu Jeito!</ion-card-title>
      </ion-card-header>
     
      <ion-card-content>
        <p>Nasce um novo conceito de imobiliraria para Três Corações e Região, com uma nova forma de intermediar a compra e venda imóveis, oferecendo um atendimento qualificado, com foco em segurança e qualidade de vida para nossos clientes</p>
      </ion-card-content>
    </ion-card>

    
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Saiba Mais</ion-label>
      </ion-list-header>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Conheça nossos Serviços</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="alert"></ion-icon>
        <ion-label>Facilidade na Compra</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="archive"></ion-icon>
        <ion-label>Satisfação Garantida</ion-label>
      </ion-item>      
     
      
    </ion-list> 

    <ion-card class="welcome-card">
      <img src="/assets/2.jpg" alt="" />
      <ion-card-header>
    
        <ion-card-title>Terreno</ion-card-title>
      </ion-card-header>
     
      <ion-card-content>
        <p>Comprar um terreno e construir casa pode ser um investimento muito vantajoso, sabia? A gente sabe que esse é o sonho de milhares de brasileiros e, por isso, resolveu dar uma mãozinha. Afinal, quem não deseja sair do aluguel e investir em um imóvel que possa chamar de seu, não é mesmo?</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <img src="/assets/3.jpg" alt="" />
      <ion-card-header>
       
        <ion-card-title>Casa</ion-card-title>
      </ion-card-header>
     
      <ion-card-content>
        <p>Ter uma casa própria é o sonho de mais de 19 milhões de brasileiros, segundo pesquisa do Instituto Data Popular. E para quem está em vias de realizar esse sonho, uma dúvida bastante comum é se vale mais a pena comprar ou construir. A resposta para esta questão depende de uma série de fatores e é bastante individual.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <img src="/assets/4.jpg" alt="" />
      <ion-card-header>
   
        <ion-card-title>Apartamento</ion-card-title>
      </ion-card-header>
     
      <ion-card-content>
        <p>O lançamento de apartamento pode ser uma ótima opção para aproveitar um bom negócio. Isso porque, nesse momento, a oferta costuma estar mais em conta para o investimento.</p>
      </ion-card-content>
    </ion-card>

    <ion-footer>
    <ion-toolbar>
      <ion-title>Imóvel TC</ion-title>
    </ion-toolbar>
  </ion-footer>


</ion-content>
